<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Dashboard</title>
    <link rel="stylesheet" href="/StyleSheet.css">
</head>
<body>
 <div class="navbar">
     <a href=<a href="/Organiser/{{username}}/dashboard">Dashboard</a>
     <a href="@{/Organiser/create_exams}">Create Exams</a>
     <a href="@{/Organiser/old_exams}">Old Exams</a>
      <a href ="/logout">Logout</a>
 </div>
<div class="content">
    <h1>Welcome to Your Dashboard, <span th:text="${name}"> </span> </h1>
</div>

 <div class="cards-container">
     <div class="card">
         <h2>Create Exams</h2>
         <p>Create and modify Exams.</p>
         <a href="@{/Organiser/create_exams}" class="button">Create Exams</a>
     </div>

     <div class="card">
         <h2>Old Exams</h2>
         <p>Review your completed exams and scores.</p>
         <a href="@{/Organiser/old_exams}" class="button">View Old Exams</a>
     </div>

     <div class="card">
         <h2>Logout</h2>
         <p>Log out from your account securely.</p>
         <a href="@{/logout}" class="button">Logout</a>
     </div>

 </div>


</body>
</html>

