<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Exams</title>
</head>
<body>
<h1>Retrieve Student Exams</h1>
<form id="studentForm">
    <label for="studentId">Student ID:</label>
    <input type="text" id="studentId" name="studentId" required>
    <button type="submit">Get Exams</button>
    <label for="examId">Exam ID:</label>
    <input type="text" id="examId" name="examId" required>
    <button type="submit">Get Exams</button>
</form>


<div id="examResults">
    <h2>Exam Results</h2>
</div>

</body>
</html>